[slider-cut] .w-dyn-item
  display block !important

.splide.is-initialized:not(.is-active) .splide__list
  display flex !important
  gap 2rem

.arrow, .round-arrow
  user-select none

.lib-item__slider
  .splide__track
    overflow visible !important
